

<div class="container">
    <form action="/user/create" method="post" class="signIn_form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input name="username" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Email Address</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput2"
                placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleFormControlInput4"
                placeholder="password">
        </div>
        <div class="mb-3">
            <input type="submit" value="SignIn" class="form-control" id="exampleFormControlInput5">
        </div>
    </form>
</div>