<style>
   #user_profile{
       border: 10px solid darkgoldenrod;
       text-align: center;
       padding: 10px;
       margin: 20px;
   }
   
</style>


<div id="user_profile">
    <h1>User Profile</h1>
    <h3>
        <i>
            <%= name %>
        </i>
    </h3>
    
    <h3>
        <i>
            <%= email %>
        </i>
    </h3>

</div>